
<h1>My cute puppy collection</h1>

<% @photo.each do | photo | %>
    
    <%= image_tag photo.image %>
<% end %>

<%= link_to 'Add New Photo', new_photo_path %>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %>